@import "variables";
@import "fonts";
@import "typography";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body{
  background-image: url("../img/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

ul{
  margin-left: 20px;
}

//base styles, and base classes like wrappers, containers or clearfix...


