//@import url('https://fonts.googleapis.com/css?family=Inconsolata');


                                //Iconsolata
@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata/Inconsolata-Bold.eot');
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
  url('../fonts/Inconsolata/Inconsolata-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inconsolata/Inconsolata-Bold.woff') format('woff'),
  url('../fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype'),
  url('../fonts/Inconsolata/Inconsolata-Bold.svg#Inconsolata-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}